<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Book</title>
</head>

<body style="text-align: center;">
    <div class="comments">
    {% for feedback in feedbacks %}
        <strong>{{feedback.name}}, {{feedback.submissionDate|date}}</strong><br>
        <p>{{feedback.message}}</p><br>
    {% endfor %}
    {{knp_pagination_render(feedbacks)}}
    </div>
    {{form(form)}}
</body>

</html>